.customers {
  margin: 50px auto;
  position: relative;

  .feedback {
    position: absolute;
    top: 160px;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 50px;
    width: calc(100vw - 300px);
    padding: 50px 150px;
    margin: 0 auto 0 -150px;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    &__comment {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      gap: 18.5px;
      flex: 0 0 400px;
      padding: 30px;
      border: 2px solid var(--color-grey);
      border-radius: 10px;
      background-color: var(--color-white);
      scroll-snap-align: center;

      &:hover,
      &:active {
        border-width: 3px;
        border-color: var(--color-main-red);
        position: relative;
        box-shadow: 2px 4px 20px -2px var(--color-main-red);
      }

      .profile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__data {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          img {
            width: 50px;
          }
          .name {
            h3 {
              font-size: var(--font-size-18);
              font-weight: var(--font-weight-medium);
              margin: 0 auto;
            }
            p {
              font-size: var(--font-size-14);
              font-weight: var(--font-weight-regular);
              color: var(--color-grey);
              margin: 0 auto;
            }
          }
        }
        &__stars {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 16px;
          gap: 10px;

          p {
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-regular);
            margin: 0 auto;
            line-height: 16px;
          }
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
      .text {
        width: 100%;
        p {
          font-size: var(--font-size-16);
          font-weight: var(--font-weight-regular);
        }
      }
    }

    @media (max-width: 1200px) {
      width: calc(100% - 180px);
      padding: 50px 90px;
      margin-left: 0;
    }
    @media (max-width: 800px) {
      width: calc(100% - 40px);
      padding: 50px 20px;
    }
    @media (max-width: 550px) {
      &__comment {
        flex: 0 0 calc(100% - 60px);
      }
    }
    @media (max-width: 400px) {
      &__comment .profile {
        flex-direction: column;
        align-items: flex-start;

        &__stars {
          position: relative;
          left: 70px;
          height: 30px;
        }
      }
    }
    @media (max-width: 454px) {
      top: 220px;
    }

    @media (max-width: 340px) {
      top: 300px;
    }
  }
  .fake {
    height: 330px;
    z-index: -5;

    @media (max-width: 454px) {
      height: 450px;
    }

    @media (max-width: 340px) {
      height: 500px;
    }
  }
  .slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 7;

    &__dots {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 15px;

      .dot {
        width: 15px;
        height: 15px;
        background-color: var(--color-grey);
        border-radius: 50%;

        &:hover,
        &:active {
          cursor: pointer;
          width: 45px;
          border-radius: 10px;
          background-color: var(--color-main-red);
          transition: all 0.5s;
        }
      }
    }

    &__arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .button {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 0;
      }
    }
  }
}
