.plans {
  padding: 80px 0;

  .plans__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    margin: 50px auto;
  }

  &__plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    flex: 0 1 30%;
    padding: 80px 50px;
    border: 2px solid #dddddd;
    background-color: var(--color-white);
    border-radius: 10px;
    border: 2px solid #dddddd;

    &.active {
      border: 2px solid var(--color-main-red);
    }

    img {
      width: 145px;
    }
    h3 {
      font-size: var(--font-size-18);
      font-weight: var(--font-weight-medium);
      margin: 0 auto;
      color: var(--color-dark-blue);
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      list-style: none;
      padding-left: 0;

      li {
        display: flex;
        justify-content: stretch;
        align-items: center;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-regular);
        line-height: 30px;
        gap: 5px;
        color: var(--color-grey);

        img {
          width: 24px;
        }
      }
    }
    .plans__price {
      font-size: var(--font-size-25);
      font-weight: var(--font-weight-medium);
      color: var(--color-dark-blue);
      span {
        font-weight: var(--font-weight-regular);
        color: var(--color-grey);
      }
    }
  }
}
