.statistics {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  border-radius: 10px;

  &::after {
    content: "";
    width: 90%;
    height: 30%;
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: -1;
    background-color: var(--color-dark-blue);
    filter: blur(400px) opacity(50%);
  }

  &__group {
    width: calc(100% / 3 - 2px);
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    padding: 0;

    &:nth-child(2) {
      border-right: 1px solid var(--color-light-white);
      border-left: 1px solid var(--color-light-white);
    }

    img {
      width: 55px;
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      line-height: 30px;
      font-size: var(--font-size-25);
      font-weight: var(--font-weight-bold);

      span {
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-regular);
      }
    }
  }

  @media (max-width: 650px) {
    flex-direction: column;
    justify-content: stretch;
    height: auto;

    &__group {
      padding: 0 calc((80% - 160px) / 2);
      width: 160px;
      justify-content: stretch;
      margin: 0 auto;

      &:nth-child(2) {
        border: none;
        border-top: 1px solid var(--color-light-white);
        border-bottom: 1px solid var(--color-light-white);
      }
    }
  }
}
