@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-main-red: #f53838;
  --color-shadow-red: rgba(245, 56, 56, 35%);
  --color-main-pink: #f53855;
  --color-dark-blue: #0b132a;
  --color-dark--1: #4f5665;
  --color-green: #2fab73;

  --font-family-rubik: "Rubik", sans-serif;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-35: 35px;
  --font-size-50: 50px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}
